DB_NAME="dj_lms"
DB_USER="postgres"
DB_PASSWORD="example"
REDIS_PORT=6379
DB_PORT=5432
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_FROM_ADDRESS="Dj LMS <youremail@example.com>"
EMAIL_HOST_USER="youremail@example.com"
EMAIL_HOST_PASSWORD="password"
